<!-- .contact -->
<div id="contact" class="content_2">
        
<h1 class="h-bloc">Contato - Fale Comigo</h1>


<div class="row">

    <div class="col-lg-12">
        <div id="map"></div>
    </div>  

    <div class="col-lg-12">
        <div class="row" id="contact-user">
            <div class="col-md-5">
                <div class="contact-info">
                    <!--<h3 class="main-heading"><span>Contact info</span></h3>-->

                    <div class="title_content" style="float: none;">
                        <div class="text_content">Informações para contato:</div>
                        <div class="clear"></div>
                    </div>

                    <ul>
                        <li><span class="span-info"><i class="glyphicon glyphicon-map-marker"></i> Endereço:</span> Itajubá, MG<br /><br /></li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-envelope"></i> Email:</span> costaluisflavio@gmail.com</li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-phone"></i> Telefone:</span> +35 99197242</li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-globe"></i> Website:</span> https://lflaviocosta.github.io/</li>
                    </ul>
                </div>
                <!-- /Contact Info -->
                <div class="clear"></div>

                <!--<h3 class="main-heading" style="margin-left: 22px;"><span>Follow me</span></h3>-->

                <div class="title_content tiltle_contacts" style="float: none;">
                    <div class="text_content">Se conecte comigo pelas redes sociais!</div>
                    <div class="clear"></div>
                </div>

            

                    <div id="profile_social">
                        <a href="https://www.facebook.com/luisflavio.costa"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/luis-fl%C3%A1vio-terra/"><i class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/lflaviocosta"><i class="fa fa-github"></i></a>
                        <div class="clear"></div>
                    </div>
      


            </div>

            
            </div>
        </div>
    </div>  

</div>                                            
</div>
<!-- End .contact -->